.nightlight-repost {
    background-color: #1e2936;
    border-radius: 4px;
    /* Twitter blue color */
}

.nightlight-repost:hover {
    background-color: rgb(38, 53, 68);
    /* Slightly darker blue */
}